<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delta Dignose</title>
</head>
<body>
    {% load cloudinary %}
    <h2>
        Upload picture for Delta Dignose
    </h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.image }}

        <div>
            <input type="submit" value="Upload image">
        </div>
    </form>
</body>
</html>